<nav class="navbar">


      <div class="container">
        <div class="ui-g">
          <div class="ui-g-12">
              <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>

            </div>

        </div>

      </div>

      <ul class="navbar-menu" [hidden]="!exibindoMenu">
          <li class="navbar-usuario">{{ auth.jwtPayload?.nome}}</li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/dashboard">Dashboard</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoa</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/fasesProcesso">Fase Processual</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/tipoAcao">Tipo de Ação</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/processos">Processo</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/andamentos">Andamento</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/relatorios/andamentos">Relatório Pessoa</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"
          *ngIf="auth.temPermissao('ROLE_GERENCIAR_USUARIO')"><a routerLink="/processos">Usuários</a></li>
          <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
        </ul>

    </nav>
