<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Edição de ' : 'Novo '}} Usuário</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Username</label>
        <input pInputText type="text" [(ngModel)]="usuario.username"
              name="username" #nome="ngModel" disabled=true>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>E-mail</label>
        <input pInputText type="text" [(ngModel)]="usuario.email"
              name="email" #nome="ngModel">
      </div>



      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Nova" class="ui-button-info"
          (click)="nova(f)"></button>

        <a routerLink="/api/users">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>


<p-dialog header="Criando usuário" [(visible)]="exbindoProgressBar"
       modal="modal">
<div class="card">
  <h1>Aguarde, enviando senha por e-mail para o usuário.</h1>
  <p-progressBar [showValue]="false" mode="indeterminate"></p-progressBar>
</div>
</p-dialog>



